@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

body {
  font-size: 1.2em;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #393d41;
  line-height: 1.65;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: #25a2c3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: 2.2em;
  margin-top: 0.5em;
}

h5,
h6 {
  font-size: 1.6em;
}

h6 {
  color: white;
}

p {
  margin-block: 1em 1.5em;
}

section {
  padding: 2.5em 1.5em 1.5em 2em;
}

button {
  font-family: inherit;
  border: none;
}

.border-radius {
  border-radius: 5px;
}

/* header */

header {
  padding: 2rem;
  background-color: black;
  text-align: center;
}

header img {
  height: 45px;
}

.orange {
}

/* hero section */

.hero {
  padding: 1.5em;
  padding-bottom: 2em;
  background-image: url("/assets/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero button {
  background-color: #f04c2f;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 2em;
}

/* main */

.features div {
  margin-block: 1em;
}

.featured-image-container {
  max-width: 90%;
  margin-inline: auto;
}

.featured-image-container img {
  width: 100%;
  border-radius: 50%;
}

.testimonial {
  background-color: #e22d0e;
  color: white;
}

.testimonial > p {
  font-style: italic;
  font-size: 0.9em;
}

.author p {
  margin-bottom: 0;
}

.author p:last-child {
  margin-top: 0;
  font-size: 0.7em;
}

.card {
  font-size: 0.9em;
  margin-bottom: 2em;
  border: 1px solid #dee1e3;
}

.card img {
  width: 100%;
}

.card p {
  margin-block: 0.5em 1em;
}

.card div {
  padding: 1em;
}

/* footer */

footer {
  background-color: #25a2c3;
  padding: 2em;
}

footer,
footer a {
  color: #c8e7f0;
}

footer a {
  text-decoration: underline;
}

.contacts {
  margin-block: 1em 1.7em;
}

.copy {
  padding-top: 1.7em;
  border-top: 1px solid #c8e7f0;
  margin-inline: 3em;
  font-size: 0.8em;
}
